<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="~{home :: titulo}"></title>
    <style>
        /* Bordas para a tabela */
        table {
            width: 100%;
            border-collapse: collapse; /* Faz as bordas ficarem unidas */
            border: 2px solid black; /* Borda externa da tabela */
        }

        /* Bordas para as células da tabela */
        th, td{
            border: 1px solid black; /* Borda para células */
            padding: 8px; /* Espaçamento interno nas células */
            text-align: left; /* Alinhamento do texto */
        }

        /* Bordas para o cabeçalho */
        th {
            background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
            font-weight: bold;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{home :: home}"></nav>
    <!-- Mensagens de  alerta-->
      <div th:if="${mensagem}" class="alert alert-sucess">
        <p th:text="${mensagem}"></p>
    </div>

    <div class="container mt-4">
        <h2>Lista de Despesas</h2>
         <!-- Verifica se a lista de produtos não está vazia -->
        <div th:if="${#lists.isEmpty(despesas)}">
            <p class="text-center">Não há Despesas cadastradas.</p>
        </div>
        <div th:if="${not #lists.isEmpty(despesas)}">
            <h3>Despesas Fixas</h3>
            <table class="table table-striped">
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
                <tr th:each="despesa : ${despesasFixas}">
                    <td th:text="${despesa.descricao}"></td>
                    <td th:text="${#temporals.format(despesa.dt_despesa)}"></td>
                    <td>R$ <span th:text="${#numbers.formatDecimal(despesa.valor, 1, 2, 'COMMA')}">
                        </span>
                    </td>
                </tr>  
                <tr>
                    <th  colspan="2">Total</th>
                    <td><strong>R$ <span th:text="${#numbers.formatDecimal(totalFixas, 1, 2, 'COMMA')}">
                        </span></strong>
                     </td>
                </tr> 
            </table>
            <h3>Despesas Variáveis</h3>
            <table class="table table-striped">
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
                <tr th:each="despesa : ${despesasVariaveis}">
                    <td th:text="${despesa.descricao}"></td>
                    <td th:text="${#temporals.format(despesa.dt_despesa)}"></td>
                    <td>R$ <span th:text="${#numbers.formatDecimal(despesa.valor, 1, 2, 'COMMA')}">
                        </span>
                    </td>
                </tr>  
                <tr>
                    <th  colspan="2">Total</th>
                    <td><strong>R$ <span th:text="${#numbers.formatDecimal(totalVariaveis, 1, 2, 'COMMA')}">
                        </span></strong>
                     </td>
                </tr> 
            </table>
                
            
            <h3>Todas Despesas</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mês</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th> 
                        <th>Tipo</th>                       
                        <th>Ações</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="despesa : ${despesas}">
                        <td th:text="${despesa.id}"></td>
                        <td th:text="${despesa.mes}"></td>
                        <td th:text="${despesa.descricao}"></td>
                        <td>R$ <span th:text="${#numbers.formatDecimal(despesa.valor, 1, 2, 'COMMA')}"></span></td>
                        <td  th:text="${#temporals.format(despesa.dt_despesa)}"></td>
                        <td th:text="${despesa.tipo}"></td>

                        <td>
                            <!-- Botão para editar o aluno -->
                            <a th:href="@{/despesas/editar/{id}(id=${despesa.id})}" 
                            class="btn btn-warning btn-sm">Editar</a>
                            <!-- Botão para excluir o aluno (se necessário) -->
                            <a th:href="@{/despesas/excluir/{id}(id=${despesa.id})}" 
                            class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                <tr>
                    <th  colspan="3">Total</th>
                    <td><strong>R$ 
                        <span th:text="${#numbers.formatDecimal(total, 1, 2, 'COMMA')}">
                        </span></strong>
                     </td>
                </tr> 
            </tbody>
            </table>
            <a th:href="@{/despesas/inserir}" 
            class="btn btn-primary btn-sm">Cadastrar Despesa</a>
            <a th:href="@{/despesas/inserir}" 
            class="btn btn-primary btn-sm">Despesa por mês</a>
      </div>
      
    </div>
    





    </body>
</html>
