<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:fragment="titulo">Sistema de Alunos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   
    <nav th:fragment="home" class="navbar navbar-expand-lg navbar-dark" style="background-color: #04a197be;padding:10px">
        <a class="navbar-brand" href="/"><img th:src="@{/imagens/icone.webp}"  width="30" height="30" class="d-inline-block align-top" alt="">
            Duo Dança - Sistema de alunos</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/alunos/inserir}">Inserir Aluno</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/alunos/listar}">Listar Alunos</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/turmas/inserir}">Inserir Turmas</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/turmas/listar}">Listar Turmas</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/professores/inserir}">Inserir Professor</a></li>
                <li class="nav-item"><a class="nav-link"  th:href="@{/professores/listar}">Listar Professores</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Bem-vindo ao Sistema de Alunos</h1>
    </div>
</body>
</html>
